<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Adote BLM</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
  </head>
  <body>
    <header class="cabecalho">
      <section class="links">
        <a href="{{ url_for('controller_bp.home') }}" class="header-link">ADOTE BLM</a>
        <div>
          <a href="{{ url_for('controller_bp.login') }}" class="header-link">LOGIN</a>
          <a href="{{ url_for('controller_bp.register') }}" class="header-link">CADASTRO</a>
        </div>
      </section>
      <div class="banner-conteudo">
        <h1 class="banner-conteudo-titulo">UMA CAMPANHA ESPECIAL</h1>
        <p class="banner-conteudo-descricao">
          Uma seleção especial de peludinhos que buscam um lar para chamar de
          seu
        </p>
      </div>
    </header>
    <nav class="wrap">
      <ul class="nav">
        <li>
          <button
            class="btn filtros-btn todos"
            href="#"
            id="filtro-todos"
            value="todos"
          >
            TODOS
          </button>
        </li>
        <li>
          <button
            class="btn filtros-btn caes"
            href="#"
            id="filtro-caes"
            valiue="caes"
          >
            CÃES
          </button>
        </li>
        <li>
          <button
            class="btn filtros-btn gatos"
            href="#"
            id="filto-gatos"
            value="gatos"
          >
            GATOS
          </button>
        </li>
      </ul>
    </nav>
    <section class="pets">
      <ul class="pets-lista">
        <li class="pet-card gato">
          <img
            src="{{ url_for('static', filename='img/gatoExterminador.png') }}"
            alt="Gato Exterminador"
          />
          <h3>EXTERMINADOR</h3>
          <button class="adotar-btn">QUERO ADOTAR</button>
        </li>
        <li class="pet-card cao">
          <img src="{{ url_for('static', filename='img/caoAriri.png') }}" alt="Cão Ariri" />
          <h3>ARIRI</h3>
          <button class="adotar-btn">QUERO ADOTAR</button>
        </li>
        <li class="pet-card cao">
          <img src="{{ url_for('static', filename='img/caoCalabresa.png') }}" alt="Cão Calabresa" />
          <h3>CALABRESA</h3>
          <button class="adotar-btn">QUERO ADOTAR</button>
        </li>
        <li class="pet-card cao">
          <img src="{{ url_for('static', filename='img/caoRaimundo.png') }}" alt="Cão Raimundo" />
          <h3>RAIMUNDO</h3>
          <button class="adotar-btn">QUERO ADOTAR</button>
        </li>
        <li class="pet-card gato">
          <img src="{{ url_for('static', filename='img/gatoPeçanha.png') }}" alt="Gato Peçanha" />
          <h3>PEÇANHA</h3>
          <button class="adotar-btn">QUERO ADOTAR</button>
        </li>
        <li class="pet-card gato">
          <img src="{{ url_for('static', filename='img/gatoMajinBoo.png') }}" alt="Gato Majin Boo" />
          <h3>MAJIN BOO</h3>
          <button class="adotar-btn">QUERO ADOTAR</button>
        </li>
      </ul>
    </section>
    <footer class="rodape">
      <ul class="rodape-links">
        <li class="rodape-links-btn">
          <a
            href="https://www.facebook.com/login/?next=https%3A%2F%2Fwww.facebook.com%2F%3Flocale%3Dpt_BR"
            class="link"
          >
            <img
              src="{{ url_for('static', filename='img/facebook.png') }}"
              alt="Faceboook"
              class="link-logo"
          /></a>
        </li>
        <li class="rodape-links-btn">
          <a href="https://www.instagram.com/" class="link">
            <img
              src="{{ url_for('static', filename='img/instragram.png') }}"
              alt="Instagram"
              class="link-logo"
          /></a>
        </li>
        <li class="rodape-links-btn">
          <a href="https://www.linkedin.com/feed/" class="link">
            <img
              src="{{ url_for('static', filename='img/linkedin.png') }}"
              alt="LinkedIn"
              class="link-logo"
          /></a>
        </li>
      </ul>
    </footer>
  </body>
</html>
