<DOCTYPE html>
    <html>
        <body>
            <form method="POST">

            <label for="nome">Nome:</label>  
            <input type="text" name="nome" id="" required> 
            
            <br/>
            
            <label for="email">Email:</label>  
            <input type="email" name="email" id="" required> 

            <br/>

            <label for="senha">Senha:</label>  
            <input type="password" name="senha" id="" required> 

            <br/>

            <button type="submit">Cadastrar</button>
            </form>
        </body>
    
        
    </html>