<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro - Adote BLM</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>
  <body>
    <header class="cabecalho">
      <section class="links">
        <a href="#" class="header-link">ADOTE BLM</a>
        <div>
          <a href="#" class="header-link">LOGIN</a>
          <a href="#" class="header-link">CADASTRO</a>
        </div>
      </section>
      <div class="banner-conteudo">
        <h1 class="banner-conteudo-titulo">SEJA BEM VINDO!</h1>
      </div>
    </header>
    <h2 class="titulo titulo-cadastro">FAÇA SEU CADASTRO</h2>
    <form class="form-cadastro">
      <div class="form-labels">
        <label for="input-nome">Nome:</label>
        <label for="input-email">E-mail:</label>
        <label for="input-telefone">Telefone:</label>
        <label for="input-cpf">CPF:</label>
        <label for="input-cep">CEP:</label>
        <label for="input-rua">Rua:</label>
        <label for="input-numero">Número:</label>
      </div>

      <div class="form-inputs">
        <input
          class="input-form input-cadastro"
          name="nome"
          id="input-nome"
          type="text"
        />
        <input
          class="input-form input-cadastro"
          name="email"
          id="input-email"
          type="email"
        />
        <input
          class="input-form input-cadastro"
          name="telefone"
          id="input-telefone"
          type="tel"
        />
        <input
          class="input-form input-cadastro"
          name="cpf"
          id="input-cpf"
          type="text"
        />
        <input
          class="input-form input-cadastro"
          name="cep"
          id="input-cep"
          type="text"
        />
        <input
          class="input-form input-cadastro"
          name="rua"
          id="input-rua"
          type="text"
        />
        <input
          class="input-form input-cadastro"
          name="numero"
          id="input-numero"
          type="text"
        />
      </div>
    </form>

    <div class="conta-btns">
      <button class="btn botao-conta">CADASTRAR</button>
    </div>
    <h2 class="redireciona-conta redireciona-login">
      Já tem uma conta? Faça seu login
      <a href="#" class="redireciona-conta-link">aqui</a>
    </h2>
    <footer class="rodape">
      <ul class="rodape-links">
        <li class="rodape-links-btn">
          <a
            href="https://www.facebook.com/login/?next=https%3A%2F%2Fwww.facebook.com%2F%3Flocale%3Dpt_BR"
            class="link"
          >
            <img
              src="../static/img/facebook.png"
              alt="Faceboook"
              class="link-logo"
          /></a>
        </li>
        <li class="rodape-links-btn">
          <a href="https://www.instagram.com/" class="link">
            <img
              src="../static/img/instragram.png"
              alt="Instagram"
              class="link-logo"
          /></a>
        </li>
        <li class="rodape-links-btn">
          <a href="https://www.linkedin.com/feed/" class="link">
            <img
              src="../static/img/linkedin.png"
              alt="LinkedIn"
              class="link-logo"
          /></a>
        </li>
      </ul>
    </footer>
  </body>
</html>
