{% extends "base.html" %}

{% block content %}
    <div class="card">
    <img
        src="{{ url_for('static', filename='uploads/' + animal.nome_imagem) }}"
        alt="{{ animal.nome }}"
    />
    <div class="card-info">
      <h2>{{ animal.nome }}</h2>
      <p>{{ animal.especie }} | {{ animal.genero }} | {{ animal.idade }} | {{ animal.porte }}</p>
      <p>{{ animal.descricao }}</p>
      <button>DESEJO ADOTAR</button>
    </div>
  </div>
    <h3>OUTROS BICHINHOS EM BUSCA DE UM LAR:</h3>
    <section class="pets">
      <ul class="pets-lista">
        {% for animal in animais %}
          {% if animal.disponivel %}
            <li class="pet-card">
              <img
                src="{{ url_for('static', filename='uploads/' + animal.nome_imagem) }}"
                alt="{{ animal.nome }}"
              />
              <h3>{{ animal.nome }}</h3>
              <button class="adotar-btn">
                <a href="{{ url_for('controller_bp.animal_perfil', animal_id=animal.id) }}" class="adotar-btn">QUERO ADOTAR</a>
              </button>
            </li>
          {% endif %}
        {% else %}
          <li>Não temos outros animais disponíveis para adoção</li>
        {% endfor %}
      </ul>
    </section>
  </div>
{% endblock %}
