{% extends "base.html" %}

{% block content %}
  <h2 class="titulo titulo-login">EFETUE SEU LOGIN</h2>

  <!-- formulario do backend -->
  <form class="form-login" method="POST">
    <div class="campos-login">
      <input
        class="input-form input-login"
        type="email"
        name="email"
        id="email"
        placeholder="Email"
        required
      />

      <input
        class="input-form input-login"
        type="password"
        name="senha"
        id="senha"
        placeholder="Senha"
        required
      />
    </div>

    <div class="conta-btns">
      <button class="btn botao-conta" type="submit">Logar</button>
    </div>
  </form>

  <h3 class="redireciona-conta">
    Não tem uma conta? Faça seu cadastro
    <a
      href="{{ url_for('controller_bp.register') }}"
      class="redireciona-conta-link"
      >aqui</a
    >
  </h3>
{% endblock %}

