<footer class="rodape">
  <ul class="rodape-links">
    <li class="rodape-links-btn">
      <a
        href="https://www.facebook.com/login/?next=https%3A%2F%2Fwww.facebook.com%2F%3Flocale%3Dpt_BR"
        class="link"
      >
        <img
          src="{{ url_for('static', filename='img/facebook.png') }}"
          alt="Faceboook"
          class="link-logo"
      /></a>
    </li>
    <li class="rodape-links-btn">
      <a href="https://www.instagram.com/" class="link">
        <img
          src="{{ url_for('static', filename='img/instragram.png') }}"
          alt="Instagram"
          class="link-logo"
      /></a>
    </li>
    <li class="rodape-links-btn">
      <a href="https://www.linkedin.com/feed/" class="link">
        <img
          src="{{ url_for('static', filename='img/linkedin.png') }}"
          alt="LinkedIn"
          class="link-logo"
      /></a>
    </li>
  </ul>
</footer>
